
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides callbacks callbacks1" id="slider4">
            <li>
                <div class="banner-top">
                    <div class="layer">
                        <div class="banner-bottom-content d-flex">
                            @*<div class="banner-text1">
                                    <h3 class="banner-text-h">Điện thoại</h3>
                                    <p class="banner-text-p">(028) 37205232</p>
                                </div>*@
                            <div class="banner-text2">
                                <h3 class="banner-text-h">Điện thoại</h3>
                                <p class="banner-text-p">(028) 37205232</p>

                            </div>
                        </div>
                        <div class="banner-text-top">
                            <h3 class="banner-text-h3">KHÁCH SẠN VALENTINE</h3>
                            <p class="banner-text-p">Địa chỉ: 63/1A Kha Vạn Cân, Đường 36, Bến đò Bình Quới, Thủ Đức</p>
                            <p class="banner-text-p">Nội thất  đạt tiêu chuẩn 3 sao, cảnh quang rộng thoáng, không khí trong lành, dịch vụ chuyên nghiệp</p>
                            <button type="button" class="btn btn-primary3">
                                Xem thêm...
                            </button>
                        </div>

                    </div>

                </div>
            </li>
            <li>
                <div class="banner-top1">
                    <div class="layer">
                        <div class="banner-bottom-content d-flex">
                            @*<div class="banner-text1">
                                    <h3 class="banner-text-h">social media</h3>
                                    <p class="banner-text-p"> Lorem ipsum</p>
                                </div>*@
                            <div class="banner-text4">
                                <h3 class="banner-text-h">Mở cửa Từ: </h3>
                                <p class="banner-text-p">
                                    11:00 – 14:00 và 17:00 – 21:00 (7/7)
                                </p>

                            </div>
                        </div>
                        <div class="banner-text-top">
                            <h3 class=" buffetchay">BUFFET CHAY <a class="sala">Sala</a></h3>
                            <p class="banner-text-p">Địa chỉ: số 319 - 321 – 325 – 327 Nơ Trang Long, Phường 13, Quận Bình Thạnh, Tp.HCM</p>
                            <p class="banner-text-p">ẨM THỰC CHAY : Tâm tịnh - Trí thông - Người khỏe - Dáng đẹp</p>
                            <button type="button" class="btn btn-primary3">
                                Xem thêm...
                            </button>
                        </div>

                    </div>

                </div>
            </li>
            <li>
                <div class="banner-top2">
                    <div class="layer">
                        <div class="banner-bottom-content d-flex">
                            <div class="banner-text1">
                                <h3 class="banner-text-h">phòng nhỏ </h3>
                                <p class="banner-text-p">Từ 2 - 10 khách</p>
                            </div>
                            <div class="banner-text2">
                                <h3 class="banner-text-h">phòng trung</h3>
                                <p class="banner-text-p">Từ 20 - 30 khách</p>
                            </div>
                            <div class="banner-text3">
                                <h3 class="banner-text-h">phòng lớn</h3>
                                <p class="banner-text-p">Từ 30 - 50 khách</p>

                            </div>
                        </div>
                        <div class="banner-text-top">
                            <h3 class="banner-text-h3">KARAOKE ĐẠI NAM HƯNG</h3>
                            <p class="banner-text-p">Địa chỉ: số 319 - 321 – 325 – 327 Nơ Trang Long, Phường 13, Quận Bình Thạnh, Tp.HCM.</p>
                            <p class="banner-text-p"></p>
                            <button type="button" class="btn btn-primary3">
                                Xem thêm...
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
    <!--banner Slider starts Here-->
</div>
