<div class="w3-team banner-bottom py-5" id="buffet">
    <div class="container">
        <div class="h3-head text-center">
            <h3 class="title-3 buffetchay">BUFFET CHAY <a class="sala">Sala</a></h3>
        </div>
        <div class="w3ls_banner_bottom_grids" style="padding:20px">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 w3_agile_team_grid">
                    <div class="w3layouts_team_grid">
                        <img src="~/Content/images/buffetchay1.jpg" alt=" " class="img-responsive img-thumbnail" />
                        @*<div class="w3layouts_team_grid_pos">
                            <div class="wthree_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                    <h4 style="text-align:center;color:#fff">Tâm tịnh </h4>
                    @*<p class="team-text-p">lorem ipsum</p>*@
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 w3_agile_team_grid">
                    <div class="w3layouts_team_grid">
                        <img src="~/Content/images/buffetchay4.jpg" alt=" " class="img-responsive img-thumbnail" />
                        
                    </div>
                    <h4 style="text-align:center;color:#fff">Trí thông</h4>
                    @*<p class="team-text-p">lorem ipsum</p>*@
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 w3_agile_team_grid">
                    <div class="w3layouts_team_grid">
                        <img src="~/Content/images/buffetchay3.jpg" alt=" " class="img-responsive img-thumbnail" />
                       
                    </div>
                    <h4 style="text-align:center;color:#fff">Người khỏe </h4>
                    @*<p class="team-text-p">lorem ipsum</p>*@
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 w3_agile_team_grid">
                    <div class="w3layouts_team_grid">
                        <img src="~/Content/images/buffetchay2.jpg" alt=" " class="img-responsive img-thumbnail" />
                    </div>
                    <h4 style="text-align:center;color:#fff">Dáng đẹp</h4>
                    @*<p class="team-text-p">lorem ipsum</p>*@
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary4" onclick="location.href='@Url.Action("Index","DetailBuffet")'">
        Xem thêm...
    </button>
</div>
<div class="w3-team banner-bottom py-5" id="tieccuoi">
    <hr style="border-style:outset;border-width: 2px; color:yellow" />
    <br />
    <div class="container">
        <div class="h3-head text-center">
                <h3 class="title-1" style="color:yellow; font-weight:bold">Tiệc cưới</h3>
        </div>
        <div class="row">
            <div class="col-md-12 py-1">
                <div class="row">
                    <div class="col-md-3 blog-img">
                        <img src="https://cdn.24h.com.vn/upload/3-2018/images/2018-09-10/1536548375-960-1-1536548156-width650height650.jpg" alt=" " class="img-responsive img-thumbnail">


                    </div>
                    <div class="col-md-9 blog-content">
                        <h6 class="text-h6h-restaurant">Thực đơn</h6>
                        <p style="color:#ffffff">
                            Thông tin về thực đơn.
                        </p>
                        <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb1">
                            xem thêm
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalb1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabela" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title" id="exampleModalLabela">Thực đơn</div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12 model-image">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/Untitled-1(4).jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/2(2).jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/3(2).jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/5.jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/5(1).jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/6.jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/7.jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/8.jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/10.jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/11.jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/10.jpg" alt=" ">
                                            <img src="http://www.dainamhung.com.vn/hoanghung/5/images/12.jpg" alt=" ">
                                        </div>
                                        <div class="model-content">
                                            <h5 class="model-content-h5">Thực đơn</h5>
                                            <p>
                                                Thông tin chi tiết thực đơn.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-1">
                        <div class="row">
                            <div class="col-md-3 blog-img">
                                <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0623.JPG" alt=" " class="img-responsive img-thumbnail">


                            </div>
                            <div class="col-md-9 blog-content">

                                <h6 class="text-h6h-restaurant">Sảnh cưới - Đại sảnh</h6>
                                <p style="color:#ffffff">
                                    Thông tin sảnh cưới - đại sảnh
                                </p>
                                <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb2">
                                    xem thêm
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalb2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelb" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="exampleModalLabelb">Sản cưới</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 model-image">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0618.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_5087.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0629.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0621.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0623.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0629.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0629.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0629.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0629.JPG" alt=" ">
                                                </div>
                                                <div class="model-content">
                                                    <h5 class="model-content-h5">Sảnh cưới - Đại sảnh</h5>
                                                    <p>
                                                        Thông tin chi tiết sảnh cưới đại - sảnh
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-1">
                        <div class="row">
                            <div class="col-md-3 blog-img">
                                <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_1614.JPG" alt=" " class="img-responsive  img-thumbnail">


                            </div>
                            <div class="col-md-9 blog-content">

                                <h6 class="text-h6h-restaurant">Sảnh cưới - Du thuyền</h6>
                                <p style="color:#ffffff">
                                    Thông tin sản cưới
                                </p>
                                <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb2">
                                    xem thêm
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalb2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelb" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="exampleModalLabelb">Sản cưới - Du thuyền</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 model-image">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_2095.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_1602.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_1611.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_1606.JPG" alt=" ">
                                                    <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_1623.JPG" alt=" ">
                                                </div>
                                                <div class="model-content">
                                                    <h5 class="model-content-h5">Sảnh cưới - Du thuyền</h5>
                                                    <p>
                                                        Thông tin chi tiết sảnh cưới - du thuyền
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-1">
                        <div class="row">
                            <div class="col-md-3 blog-img">

                                <img src="http://www.dainamhung.com.vn/hoanghung/5/images/TOA_6213.JPG" alt=" " class="img-responsive  img-thumbnail">

                            </div>
                            <div class="col-md-9 blog-content">

                                <h6 class="text-h6h-restaurant">Các gói dịch vụ</h6>
                                <p style="color:#ffffff">
                                    Thông tin các gói dịch vụ
                                </p>
                                <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb3">
                                    xem thêm
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalb3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelc" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="exampleModalLabelc">Các gói dịch vụ</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 model-image">
                                                    <img src="images/cb.jpg" alt=" ">
                                                </div>
                                                <div class="model-content">
                                                    <h5 class="model-content-h5">Các gói dịch vụ</h5>
                                                    <p>
                                                        Thông tin chi tiết các gói dịch vụ
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 py-1">

                        <div class="row">
                            <div class="col-md-3 blog-img">
                                <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_0358(1).JPG" alt=" " class="img-responsive img-thumbnail ">


                            </div>
                            <div class="col-md-9 blog-content">
                                <h6 class="text-h6h-restaurant">Tiệc sinh nhật</h6>
                                <p style="color:#ffffff">
                                    Thông tin tiệc sinh nhật.
                                </p>
                                <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb4">
                                    xem thêm
                                </button>
                                <!-- Modal -->

                                <div class="modal fade" id="exampleModalb4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabeld" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="exampleModalLabeld">Tiệc sinh nhật</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 model-image">
                                                    <img src="images/cv.jpg" alt="">
                                                </div>
                                                <div class="model-content">
                                                    <h5 class="model-content-h5">Tiệc sinh nhật</h5>
                                                    <p>
                                                        Thông tin chi tiết tiệc sinh nhật.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 py-1">

                        <div class="row">
                            <div class="col-md-3 blog-img">
                                <img src="http://www.dainamhung.com.vn/hoanghung/5/images/IMG_2033.JPG" alt=" " class="img-responsive  img-thumbnail">


                            </div>
                            <div class="col-md-9 blog-content">
                                <h6 class="text-h6h-restaurant">Liên Hoan</h6>
                                <p style="color:#ffffff">
                                    Thông tin tiệc liên hoan.
                                </p>
                                <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb4">
                                    xem thêm
                                </button>
                                <!-- Modal -->

                                <div class="modal fade" id="exampleModalb4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabeld" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="exampleModalLabeld">Liên Hoan</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 model-image">
                                                    <img src="images/cv.jpg" alt="">
                                                </div>
                                                <div class="model-content">
                                                    <h5 class="model-content-h5">Liên Hoan</h5>
                                                    <p>
                                                        Thông tin chi tiết tiệc liên hoan.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
