<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <br />
    <br />
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-3 text-center">
                    <a href="index.html"><img style=" align-content:center; width:50%" src="~/Content/logo/logo.png" /></a>
                </h2>
                <div class="footer-name-company-full">
                    <div class="text-center">

                        <span class="footer-name-company-logo">CÔNG TY TNHH <span class="dainamhung">ĐẠI NAM HƯNG</span></span>
                        <br />
                        <span class="footer-name-slogan">@{Html.Raw("Nhà hàng tiệc cưới - Karaoke - Hotel");}</span>
                    </div>
                    <br />
                    <div class="footer-name-address">
                        <span>@{Html.Raw("Địa chỉ: 319 - 321 - 327 Nơ Trang Long, P13, Quận Bình Thạnh, Tp.HCM.");}</span>

                        <span>@{Html.Raw("VP: 08 355 33 186 - Quầy:08.3055386");}</span>

                        <span>Email: <a href="dnh@dainamhung.com">dnh@dainamhung.com</a></span>

                        <span>Website: www.dainamhung.com.vn</span>

                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <div class="col-lg-8 footer-right left-boder">
                <div class="w3layouts-news-letter">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">THÔNG TIN KHUYẾN MÃI VÀ ƯU ĐÃI</h3>
                     
                    <p>Hãy để lại email của bạn để chúng tôi có thể gởi thông tin dịch vụ khuyễn mãi và ưu đãi nhanh nhất</p>
                    <form action="#" method="post" class="w3layouts-newsletter">
                        <input type="email" name="Email" placeholder="Vui lòng nhập email" required="">
                        <button class="btn1"><span class="fa fa-paper-plane-o" aria-hidden="true"></span></button>

                    </form>
                </div>
                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                    <div class="col-md-4">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">THÔNG TIN</h3>
                        <ul class="list-unstyled w3layouts-icons">
                            <li class="mt-3">
                                <a href="about.html">Giới thiệu</a>
                            </li>
                            <li class="mt-3">
                                <a href="#">Hình ảnh nổi bật</a>
                            </li>
                            <li class="mt-3">
                                <a href="#">Dịch vụ</a>
                            </li>
                            <li class="mt-3">
                                <a href="contact.html">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Danh mục</h3>
                            <ul class="list-unstyled w3layouts-icons">
                                <li class="mt-3"><a href="">Khách sạn</a></li>
                                <li class="mt-3"><a href="">Bất động sản</a></li>
                                <li class="mt-3"><a href="">Tiệc cưới</a></li>
                                <li class="mt-3"><a href="">Liên hoan</a></li>
                                <li class="mt-3"><a href="">Sinh nhật</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3"><br /></h3>
                            <ul class="list-unstyled w3layouts-icons">
                                <li class="mt-3"><a href="">Karaoke</a></li>
                                <li class="mt-3"><a href="">Buffet chay</a></li>
                                <li class="mt-3"><a href="">Massage</a></li>
                                <li class="mt-3"><a href="">Xong đá</a></li>
                                <li class="mt-3"><a href="">Cafe bờ sông</a></li>
                                <li class="mt-3"><a href="">Giữ xe</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <br />
        <div class="cpy-right text-center row">
            <br />
            <span class="col-md-12 footer-name-company footer-name-company-logo">
                © 2019 CÔNG TY TNHH <span class="dainamhung">ĐẠI NAM HƯNG</span>
            </span>
            
        </div>
    </div>

</footer>

