<div class="about py-5" id="hotel">
    <div class="container">
        <div class="h3-head text-center">
            <h3 class="title-1">KHÁCH SẠN VALENTINE</h3>
        </div>

        <div class="row py-3">
            <div class="col-md-5 about-img">
                <img src="~/Content/images/hotel1.jpg" alt="image">
            </div>
            <div class="col-md-7 about-content">
                <h6 class="about-text-h6h" style="text-align:left">Địa chỉ: 63/1A Kha Vạn Cân, Đường 36 , Bến đò Bình Quới, Thủ Đức.</h6>
                <h6 class="about-text-h6h" style="text-align:left">Điện thoại (028) 37205232.</h6>
                @*<h6 class="about-text-h6h">Với 15 phòng sang trọng , lãng mạng . Tọa lạc biệt lập bên dòng sông Sài Gòn thơ mộng.</h6>*@
                <p class="about-text-p" style="text-align:left">
                    Với 15 phòng sang trọng, lãng mạng.
                </p>
                <p class="about-text-p" style="text-align:left">
                    <br />Tọa lạc biệt lập bên dòng sông Sài Gòn thơ mộng.
                </p>
                <p class="about-text-p" style="text-align:left">
                    <br /> Nội thất  đạt tiêu chuẩn 3 sao, cảnh quang rộng thoáng, không khí trong lành, dịch vụ chuyên nghiệp .
                </p>

                <p class="about-text-p" style="text-align:left">
                    <br />Valentine Hotel  sẽ là điểm nghỉ ngơi , thư giãn thú vị các cặp uyên ương trước và sau ngày cưới .
                </p>
                <br />
                <button type="button" class="btn btn-primary3" onclick="location.href='@Url.Action("Index","DetailHotel")'">
                    Xem thêm...
                </button>
            </div>

        </div>
    </div>
</div>

