<div class="gallery section py-5" id="karaoke" style="background-color:#007D3D">
    <div class="container">
        <div class="h3-head text-center">
            <h3 class="title-1" style="color:#C00000    "> KARAOKE ĐẠI NAM HƯNG</h3>
        </div>
        <div class="gallery_grids">
            <div class="row">
                <div class="col-md-4 agile-gallery_grid_main">
                    <div class="gallery-img-grid gallery_grid1 hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke1.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke1.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke2.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke2.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke3.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke3.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agile-gallery_grid_main">
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke7.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke7.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke4.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke4.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke9.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke9.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agile-gallery_grid_main">
                    <div class="gallery-img-grid gallery_grid1 hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke5.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke5.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke6.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke6.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="~/Content/images/karaoke8.jpg" class="sb">
                                <figure>
                                    <img src="~/Content/images/karaoke8.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <button type="button" style="background-color:#C00000" class="btn btn-primary2">
                    Xem thêm...
                </button>
            </div>
        </div>
    </div>
</div>
