<div class="about py-5" id="massage">
    <div class="container">
        <div class="h3-head text-center">
            <h3 class="title-1">MASSAGE TÌNH THƯƠNG NGƯỜI KHIẾM THỊ</h3>
        </div>
        <div class="about-img">
            <img src="~/Content/images/massagebanner1.jpg" alt="image">
        </div>

        <div class="row py-3">
            <div class="col-md-7 about-content">
                <h6 class="about-text-h6h" style="text-align:left">Địa chỉ: 319 - 321 - 327 Nơ Trang Long, P13, Quận Bình Thạnh, Tp.HCM.</h6>
                <h6 class="about-text-h6h" style="text-align:left">Điện thoại (028) 3805 5386 - (028) 3553 3186.</h6>
                <h6 class="about-text-h6h" style="text-align:left">Mở cửa mỗi ngày: từ 10:00 - 22:00</h6>
                @*<h6 class="about-text-h6h">Với 15 phòng sang trọng , lãng mạng . Tọa lạc biệt lập bên dòng sông Sài Gòn thơ mộng.</h6>*@
                <p class="about-text-p" style="text-align:left">
                   Dịch vụ:
                </p>
                <p class="about-text-p" style="text-align:left">
                    <br /> - Massage body
                </p>
                <p class="about-text-p" style="text-align:left">
                    <br /> - Massage foot
                </p>
                <p class="about-text-p" style="text-align:left">
                    <br /> - Xông đá nóng tinh dầu
                </p>

                <p class="about-text-p" style="text-align:left">
                    <br /> - Ngồi ghế massage body - foot
                </p>
                <p class="about-text-p" style="text-align:left">
                    <br /> - Gội đầu - Làm móng - Trang điểm
                </p>
                <br />
                <button type="button" class="btn btn-primary5" onclick="location.href='@Url.Action("Index","DetailHotel")'">
                    Xem thêm...
                </button>
            </div>
            <div class="col-md-5 about-img">
                <img src="~/Content/images/massagebanner2.jpg" alt="image">
            </div>
        </div>
    </div>
</div>


