
<nav class="navbar navbar-expand-lg navbar-light">
    <h1><a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/logo/logo.png" width="55" /></a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link scroll" href="index.html">TRANG CHỦ<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NHÀ HÀNG
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item scroll" href="#buffet">BUFFET CHAY</a>
                    <a class="dropdown-item scroll" href="#tieccuoi">TIỆC CƯỚI</a>
                    <a class="dropdown-item scroll" href="#sinhnhat">TIỆC SINH NHẬT</a>
                    <a class="dropdown-item scroll" href="#lienhoan">LIÊN HOAN</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DỊCH VỤ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item scroll" href="#stuido">STUDIO</a>
                    <a class="dropdown-item scroll" href="#aocuoi">ÁO CƯỚI</a>
                    <a class="dropdown-item scroll" href="#trangdiem">TRANG ĐIỂM</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#karaoke">KARAOKE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#hotel">KHÁCH SẠN</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MASSAGE
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item scroll" href="#massage">MASSAGE KHIẾM THỊ</a>
                    <a class="dropdown-item scroll" href="#xongda">XONG ĐÁ</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#cafe">CAFE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#giuxe">GIỮ XE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#estate">BẤT ĐỘNG SẢN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#tuyendung">TUYỂN DỤNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#contact">LIÊN HỆ</a>
            </li>
        </ul>
    </div>
</nav>
