
@{
                /**/

                Layout = null;
}

<div style="margin-top:20px" class="container">
    <div class="h3-head text-center">
        <h3 class="buffetchay">BUFFET CHAY <a class="sala_content">Sala</a></h3>
        <p style="margin-top:20px" class="text-left" data-aos="fade-up">
            Sau gần 30 năm cty TNHH TM – DV ĐẠI NAM HƯNG kinh doanh thành công lĩnh vực nhà hàng Tiệc Cưới – Karaoke – Hotel nay phát triển tiếp lĩnh vực mới đó là ẨM THỰC CHAY.
            <br />Nhà hàng Buffet chay Sala khai trương rằm Tháng 10 Âm Lịch nhằm Thứ Bảy 02/12/2017 tại cùng địa chỉ với nhà hàng Tiệc Cưới – Karaoke ĐẠI NAM HƯNG tại số 319-321–325–327 Nơ Trang Long, Phường 13, Quận Bình Thạnh, Tp.HCM.
            <br />Mở cửa Từ 11:00 – 14:00 và 17:00 – 21:00 tất cả các ngày trong tuần (7/7).
            <br />ẨM THỰC CHAY : Tâm tịnh - Trí thông - Người khỏe - Dáng đẹp.

            <br /> ĂN CHAY hiện nay không chỉ dành riêng phật tử mà là xu thế đang phát triển mạnh vì những lợi ích tuyệt vời cho sức khỏe, vì giữ gìn vóc dáng và sắc đẹp, vì bảo vệ động vật, bảo vệ môi trường.

            <br />ĂN CHAY phát triển trí tuệ, nuôi dưỡng  tâm từ bi, là dầu hiệu tình yêu thương, bao dung hơn với tự nhiên và với cả chính mình.

            <br />ĂN CHAY được chứng minh mang lại rất nhiều lợi ích thiết thực như: chống lão hóa, giảm cân, giảm cholesterol trong máu. Giảm gánh nặng cho thận, phòng tránh và cải thiện tình trạng các bệnh mãn tính như các bệnh về tim mạch và tiểu đường. Ngăn ngừa ung thư, thải độc cơ thể…..

            <br /> Có rất nhiều ngôi sao, danh nhân coi việc ăn chay là  một điều rất quan trọng trong cuộc sống.

            <br />Bác sĩ Lê Anh Hào – viện dinh dưỡng quốc gia cho biết:

            <br />Ngoài vấn đề tâm linh, ĂN CHAY  giúp tăng cường sức khỏe, đảm bảo năng lượng cho cơ thể hoạt động bao gổm chất đạm, chất béo, bột đường, các vitamin và muối khoáng.

            <br />Lợi thế lớn nhất của MÓN CHAY  là chất đạm và chất béo có nguồn gốc từ thực vật nên không chứa cholesterol, đồng thời rất dồi dào chất xơ.

            <br />Người lớn tuổi, bệnh nhân rối loạn chuyển hóa, tiểu đường, áp huyết cao, tim mạch, rối loạn tụy tạng nên áp dụng chế độ ăn chay này ( trích newszing.vn)

            <br /> Còn Thạc sĩ – Bác sĩ Lê Thị Hải nguyên giám đốc trung tâm tư vấn dinh dưỡng – viện dinh dưỡng quốc gia chia sẽ:

            <br />Nhiều người thường cho rằng ăn chay rất ít dinh dưỡng, điều này chỉ đúng với những người áp dụng thực đơn đơn điệu.

            <br />Chế độ ĂN CHAY đa dạng giúp thanh lọc cơ thể, giúp phòng chống một số bệnh liên quan tới chuyển hóa như béo phì, táo bón,  huyết áp cao, tim mạch… (Trích newszing.vn).

            <br />Kết luận: ĂN CHAY không chỉ vì tâm linh mà vì những lợi ích tuyệt vời cho sức khỏe.

            <br />ẨM THỰC CHAY: Tâm tịnh – Trí thông – Người khỏe – Dáng đẹp.

            <br />Vài dòng về tên “Sala”.

            <br />Sala hay Thala – Vô ưu – Ngọc Kỳ Lân – Đầu Rồng – Đầu Lân là cùng loại cây có tên khoa học là Couroupita guianensis thuộc họ dầu có nguồn gốc từ NAM MỸ phổ biến trong khu rưng tân nhiệt đới, đặt biệt trong lưu vực sông Amazon. Ngày nay cây này có thể tìm thấy ở Ấn Độ, miền nam dãy núi Hy Mã Lạp Sơn. Sau đó được trồng nhiều nơi ở Nam Á và Đông Nam Á, trong đó có Việt Nam.

            <br />Sala là loại cây thân gỗ, có thể cao tới 15m, hoa chỉ mọc từ thân chính có màu cam lẫn đỏ thắm và hồng. Mọc từng chùm trên cọng dài có khi tới 3m. Sala trổ hoa quanh năm nhưng đặc biệt từ tháng 2 đến tháng 5 hoa có màu sắc rực rỡ nhất. Hoa có mùi thơm dịu, nhưng vào thời khắc chiều tối mùi thơm tỏa ra mạnh hơn rất nhiều.

            <br /> Khi hoa tàn, quả Sala sẽ lớn dần to tròn có màu xám, mùi hắc khó ngửi, bên trong chứa 4 đến 8 hạt hình cầu. Khi lõi bên trong quả thối đi người ta mới có thể bổ lấy hạt trồng cây. Quá trình này diễn ra đúng theo quan niệm phồn thực về sinh, diệt và tái tạo trong phật giáo.

            <br />Ý nghĩa linh thiêng của cây Sala.

            <br />Truyền thuyết lưu giữ lại rằng đức phật Thích Ca được hoàng hậu Maya sinh dưới gốc cây Sala trong vườn Lumbini (Lâm-tì-ni), trong lúc bà lên cơn đau thì một cành cây đã chìa ra cho bà nắm lấy như tiếp thêm sức mạnh diệu kỳ cho bà.

            <br />Trong kinh Đại Bát Niết Bàn kể rằng trên đoạn đường cuối cùng trong chuyến vân du về Câu Thi Na (Kusinara) cùng với A NAN ĐA - vị thị giả của mình Đức Phật báo: “này A NAN ĐA ta cảm thấy mệt mỏi quá và muốn nằm nghỉ, hãy trải tấm tọa cụ ra giữa hai cây Sala, đầu hướng về phương bắc”. Khi Ngài nằm xuống bỗng hai cây Sala nở hoa rực rỡ, thơm ngát mặc dù lúc đó không phải là mùa ra hoa, như để tiễn đưa đấng Đạo Sư về cõi Niết Bàn, về với cảnh giới chân như muôn thuở.

            <br />Ngoài ra vị Phật thuộc Trang Nghiêm Kiếp là Phật Tỳ Xá Phù cũng giác ngộ dưới gốc cây Sala vì thế ngày nay ngoài cây Bồ Đề thì cây Sala cũng được trồng tại các khuôn viên chùa chiền là biểu tượng Phật pháp và mang đến sự ngưỡng vọng.

            <br />Ngắm hoa Sala nở và thưởng thức mùi hương thánh thót sâu thẳm của hoa, bất chợt tâm khởi lên niềm hoan hỷ kỳ lạ, An Lạc, Hạnh Phúc nên hoa Sala người ta còn gọi là hoa Vô Ưu (không ưu phiền).

            <br />Xin mời hãy đến với nhà hàng Buffet chay Sala để thưởng thức và cảm nhận ẩm thực chay.

            <br />Tâm tịnh - Trí thông - Người khỏe - Dáng đẹp.

            <br />Hân hạnh đón tiếp và phục vụ.
        </p>
        <div class="container pt-lg-3 pb-md-5">
            <h3 class="tittle  text-center my-lg-5 my-3">Một số hình ảnh về Buffet chay Sala</h3>
            <div class="row news-grids pb-lg-5 mt-3 mt-lg-5">
                <div class="col-lg-4 gal-img">
                    <div class="gal-info">
                        <a href="#gal1"><img src="~/Content/images/buffetchay2.jpg" alt="news image" class="img-fluid"></a>
                    </div>
                </div>
                <div class="col-lg-4 gal-img">
                    <div class="gal-info">
                        <a href="#gal2"><img src="~/Content/images/buffetchay1.jpg" alt="news image" class="img-fluid"></a>
                    </div>
                </div>
                <div class="col-lg-4 gal-img">
                    <div class="gal-info">
                        <a href="#gal3"><img src="~/Content/images/buffetchay3.jpg" alt="news image" class="img-fluid"></a>
                    </div>
                </div>
                <div class="col-lg-4 gal-img mt-lg-4">
                    <div class="gal-info">
                        <a href="#gal4"><img src="~/Content/images/buffetchay4.jpg" alt="news image" class="img-fluid"></a>

                    </div>
                </div>
                <div class="col-lg-4 gal-img mt-lg-4">
                    <div class="gal-info">
                        <a href="#gal5"><img src="~/Content/images/buffetchay5.jpg" alt="news image" class="img-fluid"></a>

                    </div>
                </div>
                <div class="col-lg-4 gal-img mt-lg-4">
                    <div class="gal-info">
                        <a href="#gal6"><img src="~/Content/images/buffetchay6.jpg" alt="news image" class="img-fluid"></a>

                    </div>
                </div>
                <div class="col-lg-4 gal-img mt-lg-4">
                    <div class="gal-info">
                        <a href="#gal7"><img src="~/Content/images/buffetchay7.jpg" alt="news image" class="img-fluid"></a>

                    </div>
                </div>
                <div class="col-lg-4 gal-img mt-lg-4">
                    <div class="gal-info">
                        <a href="#gal8"><img src="~/Content/images/buffetchay8.jpg" alt="news image" class="img-fluid"></a>
                    </div>
                </div>
                <div class="col-lg-4 gal-img mt-lg-4">
                    <div class="gal-info">
                        <a href="#gal9"><img src="~/Content/images/buffetchay9.jpg" alt="news image" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
