
@{
    Layout = null;
}

    <div style="margin-top:20px" class="container">
        <div class="h3-head text-center">
            <h3 class="title-1">Khách sạn Valentine</h3>
            <p style="margin-top:20px" class="text-left" data-aos="fade-up">
                Khách sạn Valentine địa chỉ 63/1A Kha Vạn Cân, Đường 36, Bến đò Bình Quới, Thủ Đức. Điện thoại (028) 37205232. Với 15 phòng sang trọng, lãng mạng. Tọa lạc biệt lập bên dòng sông Sài Gòn thơ mộng. Nội thất  đạt tiêu chuẩn 3 sao, cảnh quang rộng thoáng, không khí trong lành, dịch vụ chuyên nghiệp.
                <br />Khách sạn Valentine sẽ là điểm nghỉ ngơi, thư giãn thú vị các cặp uyên ương trước và sau ngày cưới.
            </p>
            <div class="container pt-lg-3 pb-md-5">
                <h3 class="tittle  text-center my-lg-5 my-3">Một số hình ảnh về khách sạn Valentine</h3>
                <div class="row news-grids pb-lg-5 mt-3 mt-lg-5">
                    <div class="col-lg-4 gal-img">
                        <div class="gal-info">
                            <a href="#gal1"><img src="~/Content/images/hotel4.jpg" alt="news image" class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 gal-img">
                        <div class="gal-info">
                            <a href="#gal2"><img src="~/Content/images/hotel8.jpg" alt="news image" class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 gal-img">
                        <div class="gal-info">
                            <a href="#gal3"><img src="~/Content/images/hotel9.jpg" alt="news image" class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 gal-img mt-lg-4">
                        <div class="gal-info">
                            <a href="#gal4"><img src="~/Content/images/hotel10.jpg" alt="news image" class="img-fluid"></a>

                        </div>
                    </div>
                    <div class="col-lg-4 gal-img mt-lg-4">
                        <div class="gal-info">
                            <a href="#gal5"><img src="~/Content/images/hotel11.jpg" alt="news image" class="img-fluid"></a>

                        </div>
                    </div>
                    <div class="col-lg-4 gal-img mt-lg-4">
                        <div class="gal-info">
                            <a href="#gal6"><img src="~/Content/images/hotel15.jpg" alt="news image" class="img-fluid"></a>

                        </div>
                    </div>
                    <div class="col-lg-4 gal-img mt-lg-4">
                        <div class="gal-info">
                            <a href="#gal7"><img src="~/Content/images/hotel5.png" alt="news image" class="img-fluid"></a>

                        </div>
                    </div>
                    <div class="col-lg-4 gal-img mt-lg-4">
                        <div class="gal-info">
                            <a href="#gal8"><img src="~/Content/images/hotel13.png" alt="news image" class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 gal-img mt-lg-4">
                        <div class="gal-info">
                            <a href="#gal9"><img src="~/Content/images/hotel14.png" alt="news image" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
