
@{
    Layout = null;
}

<div class="col-md-12 map-main">
    <iframe src="https://maps.google.com/maps?q=63%2F1A%20Kha%20V%E1%BA%A1n%20C%C3%A2n%2C%20%C4%90%C6%B0%E1%BB%9Dng%2036%20%2C%20B%E1%BA%BFn%20%C4%91%C3%B2%20B%C3%ACnh%20Qu%E1%BB%9Bi%2C%20Th%E1%BB%A7%20%C4%90%E1%BB%A9c&t=&z=13&ie=UTF8&iwloc=&output=embed"
            allowfullscreen=""></iframe>

</div>
