
@{
    Layout = null;
}

<nav class="navbar navbar-expand-lg navbar-light">
    <h1><a class="navbar-brand" href="@Url.Action("Index","Home")">ĐẠI NAM HƯNG</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">TRANG CHỦ<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","DetailHotel")">KHÁCH SẠN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","DetailBuffet")">BUFFET CHAY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#karaoke">KARAOKE</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DỊCH VỤ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item scroll" href="#tieccuoi">TIỆC CƯỚI</a>
                    <a class="dropdown-item scroll" href="#lienhoan">LIÊN HOAN</a>
                    <a class="dropdown-item scroll" href="#sinhnhat">SINH NHẬT</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#cafe">CAFE BỜ SÔNG</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scroll" href="#giuxe">GIỮ XE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="#contact">LIÊN HỆ</a>
            </li>
        </ul>
    </div>
</nav>


