@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer_1its py-5">
    <div class="container py-md-4">

        <div class="row footer-top mb-md-5 mb-4">
            <div class="col-lg-4 col-md-6 footer-grid_section_1its" data-aos="fade-right">
                <div class="footer-title-w3pvt">
                    <h3>Liên hệ</h3>
                </div>
                <div class="footer-text">
                    <p>Địa chỉ: 63/1A Kha Vạn Cân, Đường 36, Bến đò Bình Quới, Thủ Đức.</p>
                    <p>Điện thoại: (028) 37205232.</p>
                    <p>Email : <a href="dnh@dainamhung.com">dnh@dainamhung.com</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4 footer-grid_section_1its">
                <div class="footer-title-w3pvt">
                    <h3>Liên kết</h3>
                </div>
                <div class="row no-gutters">
                    <ul class="links">
                        <li><a href="">Trang chủ </a></li>
                        <li><a href="">Khách sạn</a></li>
                        <li><a href="">Bất động sản</a></li>
                        <li><a href="">Tiệc cưới</a></li>
                        <li><a href="">Liên hoan</a></li>
                        <li><a href="">Sinh nhật</a></li>

                    </ul>
                    <ul style="margin-left:30px" class="links">
                        <li><a href="">Karaoke</a></li>
                        <li><a href="">Buffet chay</a></li>
                        <li><a href="">Massage</a></li>
                        <li><a href="">Xong đá</a></li>
                        <li><a href="">Cafe bờ sông</a></li>
                        <li><a href="">Giữ xe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mt-lg-0 mt-4 col-sm-12 footer-grid_section_1its" data-aos="fade-left">
                <div class="footer-title-w3pvt">
                    <h3>Khuyến mãi</h3>
                </div>
                <div class="footer-text">
                    <p>Xin hãy để lại thông tin để nhận được khuyến mãi...</p>
                    <form action="#" method="post">
                        <input type="email" name="Email" placeholder="Xin nhập email của bạn..." required="">
                        <button class="btn1"><span class="fa fa-paper-plane " aria-hidden="true"></span></button>
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
