
@{
    Layout = null;
}

<div class="banner-bottom mail-contact py-5" id="contact">
    <div class="container">
        <div class="h3-head text-center">
            <h3 class="title-2">Liên hệ</h3>
        </div>
        <div class="w3ls_banner_bottom_grids py-3">
            <div class="row">
                <div class="col-md-6 w3layouts_mail_grid_left">
                    <div class="agileits_mail_grid_left">
                        <h3>Thông tin liên hệ</h3>
                        <ul>
                            <li><label><i class="fas fa-map-marker"></i></label>319 - 321 - 327 Nơ Trang Long, P13, Quận Bình Thạnh, Tp.HCM.</li>
                            <li>
                                <label><i class="far fa-envelope"></i></label><a href="mailto:info@example.com">dnh@dainamhung.com</a>
                            </li>
                            <li><label><i class="fas fa-phone-volume"></i></label>028 355 33 186, 028 380 55 386</li>
                        </ul>
                    </div>
                    <div class="agileits_w3layouts_socila_mail">
                        <h3>Chia sẽ trang</h3>
                        <ul>
                            <li><a href="#" class="w3_facebook"><i class="fab fa-facebook-f"></i> facebook</a></li>
                            <li><a href="#" class="w3l_google-plus"><i class="fab fa-google-plus-g"></i> google-plus</a></li>
                            <li><a href="#" class="agileits_linkedin"><i class="fab fa-linkedin-in"></i> linkedin</a></li>
                            <li><a href="#" class="w3ls_twitter"><i class="fab fa-twitter"></i> twitter</a></li>
                            <li><a href="#" class="w3ls_pinterest"><i class="fab fa-pinterest-p"></i> Pinterest</a></li>
                            <li><a href="#" class="w3ls_vimeo"><i class="fab fa-vimeo-v"></i> Vimeo</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 wthree_mail_pos">
                    <form action="#" method="post">
                        <div class="w3_agileits_contact_left">
                            <h3>Contact form</h3>
                            <input type="text" name="Name" placeholder="Họ tên" required="">
                            <input type="email" name="Email" placeholder="Email" required="">
                            <input type="text" name="Phone" placeholder="Điện thoại">
                            <textarea placeholder="Yêu cầu liên hệ..." required=""></textarea>

                        </div>
                        <div class="w3_agileits_contact_right">
                            <input type="submit" value="Gửi">
                        </div>
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
